@import "tailwindcss";

.listhours::-webkit-scrollbar {
    width: 4px;
}

.listhours::-webkit-scrollbar-button {
    display: none;
}

.listhours::-webkit-scrollbar-track {
    background: transparent;
}

.listhours::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 100%;
}